:root {
    text-align: center;
    /* vertical-align: middle; */
}


textarea {
    border: 1px solid;
    border-radius: 1px;
    /* outline:none; */
    
    /* background-color: grey; */
    width: 80%;
    /* height:max-content; */
}