/*** Leaderboard ALL CSS ***/

#ld-user-stats {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

#ld-grid-hbox {
    display: flex;
    gap: 10px;
    text-align: left;
    align-items: center;
}



.highlight-user {
    background-color: rgba(255, 223, 0, 0.2);  /* Light yellow background */
    font-weight: bold;  /* Bold text */
}

#ld-all {
    display: grid;
    grid-template-columns: 220px auto 400px;
    min-height: 100vh;
    max-width: 1800px;
    margin: 0 auto;
    padding-bottom: 0px;
    column-gap: 10px;
    padding-right: 10px;
    background-color: var(--first-bg-color);
}


#ld-all-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;

    position: relative;
    overflow: hidden;
    border: 1px solid var(--border-color);
    background-color: var(--card-color);
    border-radius: 16px;
}

#ld-all-title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    
    position: sticky;  /* Stick to the top */
    
    padding: 20px;

    z-index: 2;        /* Ensure it's above the grid items */
    
    border-bottom: 2px solid var(--border-color);
    width: 100%;
}


#ld-all-grid {
    display: inline-grid;
    grid-template-columns: 1fr;
    flex-grow: 1;

    overflow-y: auto;   /* Enable scrolling within the leaderboard grid */
    max-height: calc(100vh - 80px); /* Subtract space for the header */
    row-gap: 5px;
    width: 100%;
    

    scrollbar-width: thin;
}

#scrollable-grid-items {
    display: flex;
    flex-direction: column;
 
}

#ld-all-grid-item {
    padding: 20px;
    text-align: left;
    color: var(--grid-button-text-color);
    font-size: 25px;
}

#ld-all-rank-icon {
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#ld-all-pfp-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4b5563;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: 2px solid #58cc02;
}

/* PLAYER STATS */

#ld-all-user-stats {
    background-color: var(--card-color);
    border-radius: 16px;
    padding: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid var(--border-color);
    height: 50%;
    display: flex;
    flex-direction: column;
}

#ld-all-user-header {
    display: flex;
    flex-direction: row;
    gap: 15px;

    justify-content: center;

    margin-top: 16px;
    

    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    border-bottom: 4px solid var(--border-color);
    border-width: 100%;
    width: 100%;
    
}

#ld-all-user-stats-hbox {
    display: flex;
    justify-content: space-around;
    margin-top: 16px;

}

#ld-all-user-stats-vbox {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

#ld-all-user-goal-text {
    color: var(--primary-theme-color);
    font-weight: bold;
    font-size: 20px;
}

#ld-all-goal-container {
    display: flex;
    flex-direction: column;
    align-content: center;
}

#ld-all-user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4b5563;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: white;
    border: 2px solid #58cc02;
}
progress {
    margin: 0 auto;
}


