/* Lesson Progress CSS */

#lesson-prog-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

#lesson-prog-bar{
    appearance: none;
    width: 300px; 
    height: 20px; 
    border-radius: 10px; 
    overflow: hidden;
}

/* Style the progress value */
#lesson-prog-bar::-webkit-progress-value {
    background-color: var(--primary-theme-color);
    transition: width 1s ease-in-out; /* Smooth transition for filling */
    border-radius: 15px; /* Rounded corners */
}

/* Style the progress bar's empty part */
#lesson-prog-bar::-webkit-progress-bar {
    background-color: #e0e0e0; /* Light gray background */
    border-radius: 15px; /* Rounded corners */
}

#lesson-prog-bar::-moz-progress-bar {
    background-color: #4caf50;
    transition: width 1s ease-in-out; /* For Firefox */
    border-radius: 20px;
}