/*.practice-layout {
    display: grid;
    grid-template-columns: 220px auto;
    min-height: 100vh;
    max-width: 1800px;
    margin: 0 auto;
}*/

.practice-container {
    display: flex;
    flex-direction: row; /* Change to row to place sidebar and content side by side */
    min-height: 100vh;
    background-color: var(--first-bg-color);
    margin: 0px;
}


/*** CONTENT ***/
.practice-layout-content {
    display: flex;
    flex-direction: column;

    padding: 30px;
   
    flex: 1;
    max-width: 100%;
   
}



/*** SEARCH BAR ***/

.search-bar {
    background-color: var(--card-color);
    padding: 15px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto; /* Keep it centered */
    position: absolute; /* Position it independently */
    top: 15px;
    left: 20%; /* Center it horizontally */
    
}


.topics-list {
    margin-top: 4em;
    width: 100%;
    
    margin-right: 30px;
}



.topic-item {
    padding: 20px;
    border-radius: 16px;
    border: 1px solid var(--border-color);
    background-color: var(--third-bg-color);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topic-name {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.question-types {
    display: flex;
    gap: 10px;
    justify-content: flex-end; /* Ensures question types are aligned to the right */
}

.question-type-button {
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    font-size: 16px;
    width: 80px;
}


.no-results {
    padding: 10px;
    color: #999;
}
