/*/// PUT THE -- VARIABLES HERE BC YOU will BE AFFECTING SOME OTHER CSS WITHOUT KNOWING /// */  
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --side-bar-width1: 220px 1fr 350px;
  --side-bar-width2: 220px 1fr;


  --font-size-min: 10px;
  --font-size-max: 50px;
  --font-size-small: 14px;
  --font-size-medium: 18px; /* TO be used for questions */
  --font-size-title: 40px;
  --font-size-general: 14px;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: var(--font-size-general);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  border-radius: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.light-mode {
  color: black;
  background-color: white;
  button {
    background-color: var(--primary-theme-color);
  }
  
  --grid-bg: #FFF;
  --grid-text-color: #242424;
  --border-color: #999999;


  --card-color: #ffffff;
  --input-bg: #ffffff;

  --subtitle-color: #222529;

  --primary-theme-color: #58CC02;
  --secondary-theme-color: #cbcdd8;
  --accent-theme-color: #ff4258;
  /*--accent-theme-color: #f29e84;*/

  --primary-shadow-color: #58a700;

  --first-bg-color: #dfe6eb;
  --second-bg-color: #ecf0f5;
  --third-bg-color: #ffffff;

  --box-shadow-default: 0 4px 16px rgba(0, 0, 0, 0.1);


  --question-button-hover: #d8dde4;
  --question-text-title: #525e6e;

  --inactive-button-bg: #a1acb9;
  --inactive-button-hover: #bfccdc;

  /* Used primarily in Admin Dashboard */
  /*--background-primary: #f3f7fb;*/
  --background-primary: var(--second-bg-color);
  --background-secondary: #ffffff;
  
  --background-accent: #e1e6ec;

  --text-primary: #353a3e;
  --text-secondary: #61676f; /*used in AddQuestions*/
  --text-third: #5d7b9d;
  --text-accent: #49516b;

  --input-background: #1e2235;
  --accent-green: #4CAF50;
  --accent-blue: #3182ce;
  
}

.dark-mode {
  color: white;
  background-color: #242424;
  background-size: auto;
  button {
    background-color: var(--primary-theme-color)
  }

  --grid-bg: #242424;
  --grid-button-text-color: #FFF;
  --border-color: #485468;

  --card-color: #2d3748;
  --input-bg: #1e2235;

  --subtitle-color : #a0aec0;

  --primary-theme-color: #58CC02;
  --secondary-theme-color: #272934;
  --accent-theme-color: #ff4258;

  --primary-shadow-color: #58a700;

  --first-bg-color: #111827;
  --second-bg-color: #1f2937;
  --third-bg-color: #2d3748;

  --box-shadow-default: 0 4px 16px rgba(0, 0, 0, 0.2);


  --question-button-hover: #374151;
  --question-text-title: --subtitle-color;

  --inactive-button-bg: #a1acb9;
  --inactive-button-hover: #bfccdc;

  /* Used primarily in Admin Dashboard */
  --background-primary: #1e2235;
  --background-secondary: #2a2f45;
  
  --background-accent: #3a4a63;

  --text-primary: #e2e8f0;
  --text-secondary: #a0aec0; /*used in AddQuestions*/
  --text-third: #bcd0e7;
  --text-accent: #f0e2e2;

  --accent-green: #4CAF50;
  --accent-blue: #3182ce;

  
}