/* Topic Select CSS */

#header {
    min-height: 40px;
}



#main-wrap > div { 
    min-height: 450px; 
}


/* layout */
#main-wrap {
    /* overflow to handle inner floating block */
    overflow: hidden;
}

#left {
    float: left;
    width: 100%;
}

#right {
    float: right;
    width: 50%;
}  

	
	